<html xmlns:wicket>
<wicket:panel>
    <div class="jqui-accordion">
        <h2>
            <a wicket:id="realmgamename"></a>
        </h2>
        <div>
            <div wicket:id="stopplaying"></div>
            <br/>

            <table>
                <tr>
                    <th colspan="2">Accounts</th>
                </tr>
                <tr wicket:id="accounts">
                    <td wicket:id="name"></td>
                    <td><span wicket:id="delete"></span></td>
                </tr>
            </table>


            <wicket:container wicket:id="addAccountForms">
                <div wicket:id="addPanel"></div>
            </wicket:container>
        </div>
    </div>
</wicket:panel>
</html>
