<html xmlns:wicket>
<wicket:panel>
	<table class="fullWidth">
		<thead>
			<tr>
				<th wicket:id="title">Bug</th>
				<th>Last Update</th>
				<th>Reported By</th>
				<th>Assigned to</th>
				<th>Status</th>
			</tr>
		</thead>
		<tr wicket:id="bugs">
			<td class="centeredCell"><a wicket:id="link"><span
					wicket:id="title"></span></a></td>
			<td class="centeredCell"><span wicket:id="lastUpdate"></span></td>
			<td class="centeredCell"><span wicket:id="reportedBy"></span></td>
			<td class="centeredCell"><span wicket:id="assignedTo"></span></td>
			<td class="centeredCell" wicket:id="status"></td>
		</tr>
	</table>

	<div wicket:id="paging" class="centered"></div>
</wicket:panel>
</html>