<html xmlns:wicket>
<wicket:panel>
    <form wicket:id="changemailform">
        <p>To change your e-mail, enter your new e-mail address below. A
            confirmation mail will be sent to this address. This e-mail will
            contain an activation code, which you will need to enter on this
            site
            before the e-mail change is completed.</p>

        <input type="text" wicket:id="mail"/> <input type="submit"
                                                     value="Change"
                                                     class="SubmitButton"/>
    </form>
</wicket:panel>
</html>
