<html xmlns:wicket>
<wicket:panel>
  	<form wicket:id="changeForm">
  		<table>
  			<tr>
  				<th>Old password</th>
  				<td><input type="password" wicket:id="old" /></td>
  			</tr>
  			<tr>
  				<th>New password</th>
  				<td><input type="password" wicket:id="new1" /></td>
  			</tr>
  			<tr>
  				<th>Confirm new password</th>
  				<td><input type="password" wicket:id="new2" /></td>
  			</tr>
  		</table>
  		
  		<input type="submit" value="Change" class="SubmitButton" />
  	</form>
</wicket:panel>
</html>
  