<html xmlns:wicket>
<wicket:extend>
	<table class="fullWidth">
		<tr>
			<td class="centeredCell">
				<div wicket:id="grouprequest"></div>
				<div wicket:id="regulations"></div>
				<div wicket:id="pendingproposal"></div>
				<div wicket:id="inactivekeyrole"></div>
				<div wicket:id="complaints"></div> <a wicket:id="addregulation">Propose
					new regulation</a><br /> <a wicket:id="modifyregulation">Propose
					regulation modification</a><br /> <a wicket:id="repealregulation">Propose
					regulation repeal</a><br />
				<div wicket:id="keyrolevote">Key Role nomination</div>
			</td>
			<td class="centeredCell"><a wicket:id="forummanagement">Forum
					Management</a><br /> <a wicket:id="roles">Role Management</a><br /> <a
				wicket:id="realms">Realm Management</a><br /> <a wicket:id="games">Game
					Management</a><br /> <a wicket:id="committee">Committee Management</a><br />
				<a wicket:id="truthsayernomination">Nominate Truthsayers</a><br />
				<a wicket:id="stepdown">Step Down</a><br /></td>
		</tr>
	</table>
</wicket:extend>
</html>
