<html xmlns:wicket>
<wicket:panel>
	<form wicket:id="confirmForm">
		You have requested to change your e-mail to <b wicket:id="mail">j.steenbeeke@gmail.com</b>,
		please enter the confirmation code that was sent to this address. If
		you do not wish to change your e-mail to this address, press cancel.<br />
		<br /> <input type="text" wicket:id="code" /><br />
		<br /> <input type="submit" value="Confirm" class="SubmitButton" />
		<input type="button" value="Cancel" class="SubmitButton"
			wicket:id="cancel" />
	</form>

</wicket:panel>
</html>
