<html xmlns:wicket>
<wicket:panel>
	<div class="ToolBox">
		<a href="delete.html" wicket:id="delete"><img style="border: 0px;"
			src="images/icons/delete.png" alt="Delete" title="Delete" /></a> <a
			href="lock.html" wicket:id="lock"><img style="border: 0px;"
			src="images/icons/lock.png" alt="Lock" title="Lock" /></a> <a
			href="lock.html" wicket:id="unlock"><img style="border: 0px;"
			src="images/icons/lock_open.png" alt="Unlock" title="Unlock" /></a> <a
			href="sticky.html" wicket:id="sticky"><img style="border: 0px;"
			src="images/icons/link.png" alt="Sticky" title="Sticky" /></a> <a
			href="sticky.html" wicket:id="unsticky"><img style="border: 0px;"
			src="images/icons/link_break.png" alt="Unsticky" title="Unsticky" /></a>
		<a href="move.html" wicket:id="move"><img style="border: 0px;"
			src="images/icons/arrow_right.png" alt="Move" title="Move" /></a> <a
			href="split.html" wicket:id="split"><img style="border: 0px;"
			src="images/icons/page_white_zip.png" alt="Split" title="Split" /></a>
	</div>
</wicket:panel>
</html>