<html xmlns:wicket>
	<wicket:panel>
		<wicket:container wicket:id="categories">
			<div class="jqui-accordion-collapsible">
			
				<h2><a wicket:id="cattitle">Main</a></h2>
				<div>
					<table style="width: 100%;">
						<tr>
							<td style="width: 60%;"><b>Forum name</b></td>
							<td><b>Thread count</b></td>
							<td wicket:id="unread"><b>Unread messages</b></td>
							<td style="width: 20%;"><b>Moderators</b></td>
						</tr>
						<tr wicket:id="forums">
							<td style="width: 60%;">
								<b><span wicket:id="forumlink">Forum</span></b><br />
								<span wicket:id="forumdescription"></span>
							</td>
							<td>
								<span wicket:id="total"></span>
							</td>
							<wicket:enclosure child="unread">
							<td>
								<span wicket:id="unread"></span>
							</td>
							</wicket:enclosure>
							<td style="width: 20%;">
								<span wicket:id="moderators"></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<br />
		</wicket:container>
			
		<p style="text-align: center;">
			<a wicket:id="markasread"><img wicket:id="icon" alt="Mark as read" title="Mark as read" /> Mark all forums as read</a>
		</p>

	</wicket:panel>
</html>