<html xmlns:wicket>
	<wicket:panel>
		<p style="display: block; width: 100%;">
		<div wicket:id="slider">
			<wicket:container wicket:id="gallery">
				<p style="float: left; margin-left: 25px; text-align: center;">
					<a wicket:id="link">
						<img style="width: 480px;" wicket:id="thumbnail" />
					</a>
					<br />
					<span wicket:id="title"></span>
				</p>
			</wicket:container>
			
		</div>
			<div wicket:id="nav" style="border-top: 1px solid #fc0;"></div>
		</p>
		
		<p style="width: 100%; margin-top: 1px;">
			&nbsp;
		</p>
	</wicket:panel>
</html>
  