<html xmlns:wicket>
<wicket:extend>
  	<table style="width: 100%;">
  		<tr>
  			<td colspan="2" style="border-bottom: 1px solid #fc0;">
  				<b>Message of the day</b><br />
  				<div wicket:id="motd">
  				</div>
  				
  				<div style="text-align: center;" wicket:id="editmotd"></div>
  			</td>
  		</tr>
  		<tr>
  			<td style="text-align: center; width: 50%;">
  				<wicket:enclosure child="invite"><a wicket:id="invite">Invite Members</a><br /></wicket:enclosure>
  				<div wicket:id="applications"></div>
  				<wicket:enclosure child="joinpolicy"><a wicket:id="joinpolicy">Set Join Policy</a><br /></wicket:enclosure>
  				<div wicket:id="runforgroupleader"></div>
  				<div wicket:id="electgroupleader"></div>
  				<div wicket:id="pendingrequest"></div>
  				<a wicket:id="management">Manage Members</a><br />
  				
  			</td>
  			<td style="text-align: center; width: 50%;">
  				
  				<wicket:enclosure child="editdescription"><a wicket:id="editdescription">Edit Description</a><br /></wicket:enclosure>
  				<wicket:enclosure child="forums"><a wicket:id="forums">Group Forums</a><br /></wicket:enclosure>
  				<wicket:enclosure child="disband"><a wicket:id="disband">Disband group</a><br /></wicket:enclosure>
  				<wicket:enclosure child="gallery"><a wicket:id="gallery">Image and Video Galleries</a><br /></wicket:enclosure>
  				<a wicket:id="leave">Leave group</a><br />
  			</td>
  		</tr>
  	</table>
</wicket:extend>
</html>
  