<html xmlns:wicket>
<wicket:extend>
    <table class="fullWidth">
        <tr>
            <td class="centeredCell"><a wicket:id="requestPayment">Request
                Payment from Treasurer</a><br/> <a wicket:id="mumble">Mumble
                Servers</a></td>
            <td class="centeredCell">
                <div wicket:id="paypal">PayPal settings</div>
                <a
                        wicket:id="transfer">Step Down</a>
            </td>
        </tr>
    </table>
</wicket:extend>
</html>
