<html xmlns:wicket>
<wicket:panel>
	<p>
		Using this tab, you can edit <a
			wicket:id="profilelink">your profile</a>. None of the information
		below is mandatory, and if you're not comfortable sharing certain
		information you are not required to.
	</p>

	<form wicket:id="profile">
		<table>
			<tr>
				<th class="topalign">Real Name</th>
				<td><input type="text" wicket:id="realname" /><br />
					<p class="fontsmaller">This will only be visible to members</p>
					<br /></td>
			</tr>
			<tr>
				<th class="topalign">Date of birth</th>
				<td><span wicket:id="birthdate"></span><br />
					<p class="fontsmaller">Your age will be publicly visible</p>
					<br /></td>
			</tr>
			<tr>
				<th class="topalign">Age</th>
				<td><span wicket:id="age"></span><br /></td>
			</tr>
			<tr>
				<th class="topalign">Photograph URL</th>
				<td><input type="text" wicket:id="photoURL" /><br /> <input
					type="checkbox" wicket:id="public" /> Non-members may see my
					photograph<br /> <img wicket:id="preview" alt="Preview"
					title="Preview" class="block" /></td>
			</tr>
			<tr>
				<th class="topalign">Skype address <img
					wicket:id="skypeicon" alt="Skype" /></th>
				<td><input type="text" wicket:id="skypename" /><br /> <input
					type="checkbox" wicket:id="skypepublic" /> Non-members may see my
					Skype address<br /></td>
			</tr>
			<tr>
				<th class="topalign">Public Description</th>
				<td><textarea wicket:id="publicdesc"></textarea></td>
			</tr>
			<tr>
				<th class="topalign">Private Description</th>
				<td><textarea wicket:id="privatedesc"></textarea></td>
			</tr>
			<tr>
				<th class="topalign">Twitter ID</th>
				<td>http://twitter.com/<input type="text" wicket:id="twitter" /><br />
					<p class="fontsmaller">Your public tweets will be visible
						on your profile</p>
					<br />
				</td>
			</tr>
		</table>
		<br /> <input type="submit" value="Update" class="SubmitButton" />

	</form>
</wicket:panel>
</html>
