<html xmlns:wicket>
	<wicket:panel>
		<div class="jqui-accordion">
			<h2><a wicket:id="name"></a></h2>
			<div>
				<img wicket:id="icon" /><br />
				
				<b>Active players:</b> <span wicket:id="count"></span><br />
				
				<br />
				<table>
					<tr>
						<th>Member</th>
						<th>Accounts</th>
					</tr>
					<tr wicket:id="members">
						<td><span wicket:id="user"></span></td>
						<td wicket:id="accounts"></td>
					</tr>
				</table>
				
				<div wicket:id="container">
					<br />
					<b>Gaming groups:</b><br />
					<wicket:container wicket:id="gaminggroups">
						<span wicket:id="grouplink"></span><br />
					</wicket:container>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>
  