<html xmlns:wicket>
<wicket:extend>
	<table style="width: 100%;">
		<tr>
			<td style="text-align: center; width: 50%;"><a
				wicket:id="addregulation">Propose new regulation</a><br /> <a
				wicket:id="modifyregulation">Propose regulation modification</a><br />
				<a wicket:id="repealregulation">Propose regulation repeal</a><br />
				<div wicket:id="keyrolevote">Key Role nomination</div></td>
			<td style="text-align: center; width: 50%;">
				<div wicket:id="regulations"></div>
				<div wicket:id="truthsayers"></div>
				<div wicket:id="complaints"></div>
				<div wicket:id="impeachment"></div>
				<div wicket:id="achievement"></div> <a wicket:id="stepdown">Step
					Down</a><br />
			</td>
		</tr>
	</table>
</wicket:extend>
</html>
