<html xmlns:wicket>
 	<wicket:extend>
	 	<table class="fullWidth">
		 	<tr>
 				<td class="centeredCell">
 					<a wicket:id="bugmasters">Bug Managers</a><br />
					<a wicket:id="allowedGames">Allowed Games</a><br />
					<a wicket:id="requestPayment">Request Payment from Treasurer</a><br />
 					<a wicket:id="notifications">Site Wide Notifications</a><br />
				</td>
				<td class="centeredCell">
					<div wicket:id="useragent">User-agents</div>
					<div wicket:id="paypal">PayPal settings</div>
					<a wicket:id="transfer">Step Down</a><br />
				</td>
			</tr>
		</table>
	</wicket:extend>
</html>