<html xmlns:wicket>
<wicket:extend>
    <table class="fullWidth">
        <tr>
            <td class="centeredCell"><a wicket:id="finances">Clan
                Finances</a><br/></td>
            <td class="centeredCell">
                <div wicket:id="paymentRequests">Payment requests</div>
                <div wicket:id="paypal">PayPal settings</div>
                <a
                        wicket:id="transfer">Step Down</a><br/>
            </td>
        </tr>
    </table>
</wicket:extend>
</html>
