<html xmlns:wicket>
<wicket:extend>
	<table class="fullWidth">
		<tr>
			<td class="memberpanelcategory"><a
				wicket:id="impeachlink">Impeachment</a><br />
				<div wicket:id="pendingtrial"></div> <a wicket:id="untenable">Regulation
					untenability</a><br />
				<div wicket:id="pendingrequest"></div> <a
				wicket:id="truthsayerEditUserPage">Edit user</a><br /></td>
			<td class="memberpanelcategory">
				<div wicket:id="pendingicon"></div>
				<div wicket:id="pendingproposal"></div> <a wicket:id="forumuserlink">Forum
					Users</a><br /> <a wicket:id="stepdown">Step Down</a><br />
			</td>
		</tr>
	</table>
</wicket:extend>
</html>
