<html xmlns:wicket>
    <wicket:panel>
    	<div class="Menu">
			<ul>
       			<li><a class="Button" href="news.html" wicket:id="news">News</a></li>
       			<li><a class="Button" href="about.html" wicket:id="about">About</a></li>
       			<li><a class="Button" href="join.html" wicket:id="join">Register</a></li>
       			<li><a class="Button" href="history.html" wicket:id="history">History</a></li>
       			<li><a class="Button" href="charter.html" wicket:id="charter">Charter</a></li>
       			<li><a class="Button" href="regulations.html" wicket:id="regulations">Regulations</a></li>
       			<li><a class="Button" href="members.html" wicket:id="members">Members</a></li>
       			<li><a class="Button" href="members.html" wicket:id="groups">Groups</a></li>
       			<li><a class="Button" href="forum.html" wicket:id="forums">Forums</a></li>
       			<li><div class="MenuBottom"></div></li>
       		</ul>
        </div>
    </wicket:panel>
</html>
