<html xmlns:wicket>
	<wicket:panel>
		<div class="TysanMemberPanel">
			<a wicket:id="messages" href="online.html">(<span wicket:id="count">0</span>) unread messages</a>&nbsp;&nbsp;&nbsp;
			<a wicket:id="online" href="online.html">(<span wicket:id="count">0</span>) members online</a>&nbsp;&nbsp;&nbsp;
			<a wicket:id="forums" href="forums.html">Forums (<span wicket:id="count">0</span> unread)</a>&nbsp;&nbsp;&nbsp;
			<a wicket:id="overview" href="overview.html">Overview</a>&nbsp;&nbsp;&nbsp; 
			<a wicket:id="logout" href="logout.html">Logout</a>
			<div wicket:id="onlinewindow">
				<div wicket:id="otterSniperPanel"></div>
				<table>
					<tr>
						<th colspan="2">Website Users</th>
					</tr>
					<tr wicket:id="members">
						<td colspan="2">
							<span wicket:id="link"></span>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					
					<tr>
						<th colspan="2">Voice Chat Users</th>
					</tr>
					<wicket:container  wicket:id="servers">
					
					<tr>
						<td colspan="2"><span wicket:id="name">USEast</span> <span wicket:id="info"></span></td>
					</tr>
					
					<tr wicket:id="users">
						<td><img wicket:id="icon" alt="Mumble" title="Mumble User" /></td>
						<td wicket:id="name"></td>
					</tr>
					
					<tr>
						<td colspan="2"></td>
					</tr>
					</wicket:container>
				</table>
			</div>
		</div>
	</wicket:panel>
</html>