<html xmlns:wicket>
<wicket:panel>
    <h2>Subscription</h2>
    <p>
        You are currently subscribed for $ <b wicket:id="amount"></b> <span
            wicket:id="interval"></span>. You will receive reminders for each
        payment as soon as the proper time arrives.
    </p>

    <p>
        If you no longer wish to make these payments, you are free to cancel
        as soon as you have fulfilled all outstanding payments. You currently
        have <span wicket:id="due"></span> payments due.
    <form wicket:id="unsubscribe">
        <input type="submit" class="SubmitButton" value="Unsubscribe"/>
    </form>
    </p>
</wicket:panel>

</html>
