<html xmlns:wicket>
	<wicket:panel>
  		<object	width="480" height="385">
			<param wicket:id="ref" name="movie"	value="http://www.youtube.com/v/T7zAn8SW2Dc&amp;hl=en_US&amp;fs=1?rel=0"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed wicket:id="ref2"
				src="http://www.youtube.com/v/T7zAn8SW2Dc&amp;hl=en_US&amp;fs=1?rel=0"
				type="application/x-shockwave-flash" allowscriptaccess="always"
				allowfullscreen="true" width="480" height="385"></embed>
		</object>
	</wicket:panel>
</html>
  
