<?xml version="1.0" encoding="UTF-8"?>
<!--

    Tysan Clan Website
    Copyright (C) 2008-2011 Jeroen Steenbeeke and Ties van de Ven

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.provider">javassist</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://192.168.1.45/tysan</property>
		<property name="hibernate.connection.username">tysan</property>
		<property name="hibernate.connection.password">OMGp0n13s</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
	
		<mapping class="com.tysanclan.site.projectoak.entities.Activation" />
		<mapping class="com.tysanclan.site.projectoak.entities.Committee" />
		<mapping class="com.tysanclan.site.projectoak.entities.CompoundVote" />
		<mapping class="com.tysanclan.site.projectoak.entities.CompoundVoteChoice" />
		<mapping class="com.tysanclan.site.projectoak.entities.Election" />
		<mapping class="com.tysanclan.site.projectoak.entities.Forum" />
		<mapping class="com.tysanclan.site.projectoak.entities.ForumCategory" />
		<mapping class="com.tysanclan.site.projectoak.entities.ForumPost" />
		<mapping class="com.tysanclan.site.projectoak.entities.ForumThread" />
		<mapping class="com.tysanclan.site.projectoak.entities.Game" />
		<mapping class="com.tysanclan.site.projectoak.entities.GamingGroup" />
		<mapping class="com.tysanclan.site.projectoak.entities.Group" />
		<mapping class="com.tysanclan.site.projectoak.entities.GroupForum" />
		<mapping class="com.tysanclan.site.projectoak.entities.NewsForum" />
		<mapping class="com.tysanclan.site.projectoak.entities.Regulation" />
		<mapping class="com.tysanclan.site.projectoak.entities.Role" />
		<mapping class="com.tysanclan.site.projectoak.entities.SocialGroup" />
		<mapping class="com.tysanclan.site.projectoak.entities.User" />
		<mapping class="com.tysanclan.site.projectoak.entities.Message" />
		<mapping class="com.tysanclan.site.projectoak.entities.MessageFolder" />
		<mapping class="com.tysanclan.site.projectoak.entities.LogItem" />
		<!-- $M$ -->
	</session-factory>
	
</hibernate-configuration>
