@CHARSET "UTF-8";

span.underline {
    text-decoration: underline;
}

span.strikethrough {
    text-decoration: line-through;
}

a.bbbutton {
    padding: 3px;
    border: 1px solid #333;
    margin: 3px;
    display: inline-block;
}
